<html lang='en'>

<head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
</head>

<body>
    <h1>Inquiry</h1>
    <p>info: {{data.info}}</p>
    <p>user-name:{{data.name}}</p>
    <p>user_email: {{data.email}}</p>
    <p>user-mobile:{{data.mobile}}</p>
    <p>user-message:{{data.message}}</p>

    <p>If you did not request this email you can safely ignore it.</p>

</body>

</html>